<!DOCTYPE html>
<html>
<style>.markdown-body{min-width: 200px; max-width: 790px; margin: 0 auto; padding: 30px;}</style>
<link rel="stylesheet" href="https://sindresorhus.com/github-markdown-css/github-markdown.css">
<link rel="stylesheet" href="http://cdn.jsdelivr.net/highlight.js/8.9.1/styles/github.min.css">
<body>
<article class="markdown-body">
<h2 id="atom-portable-for-windows">Atom Portable for Windows</h2>
<h3 id="intro">Intro</h3>
<p>Atom is great <img class="icon" title=":heart_eyes:" alt="heart_eyes" src="http://www.emoji-cheat-sheet.com/graphics/emojis/heart_eyes.png" height="20">, but it has always had issues under Windows. The most obvious is the classic long paths issues that come with NPM (<em>npm 3.0 will be better</em> <img class="icon" title=":clap:" alt="clap" src="http://www.emoji-cheat-sheet.com/graphics/emojis/clap.png" height="20">). Another issue is that it needs a Git installation for a lot of the packages to install. And even though it&#39;s got a lot better (<em>when ATOM_HOME was fixed</em>), Atom it&#39;s not portable in the full sense of the word (%APPDATA% traces, etc).</p>
<p>I do use Atom on a lot of machines (some even Windows), and I wanted something more reliable than batch files and/or NTFS junction points.</p>
<h3 id="how-it-works">How it works</h3>
<ul>
<li>Firstly I created a basic launcher using the <a href="http://portableapps.com">PortableApps</a> launcher creator. Their launcher itself is well tested and deals with relocating the Atom profile as cleanly as possible (<em>but does not like long filenames</em>).</li>
<li>Then I tweaked the settings for a portable setup, and came up with a &quot;template setup.&quot;</li>
<li>And to round it off I added useful plugins along with basic tweaks and a way to flatten them so that they won&#39;t break the ancient MAX_PATH(<em>260</em>) limit.</li>
</ul>
<p>This package was created with the associated <a href="https://github.com/JohnMurga/atom-portable">Atom-Portable</a> project on GitHub, you can also find the latest binaries there.</p>
<h3 id="git--python--meld--etc">GIT / Python / Meld / ETC</h3>
<p>Atom expects you to have Git installed and in your path. This launcher supports running a portable install of Git alongside Atom.</p>
<p>Git is not bundled in the core package as a lot of people will already have it.</p>
<p>To add it to the portable package download the &quot;Addons&quot; archive from the release page, and extract to the same directory as Atom.</p>
<ol>
<li>You will have the following structure :<pre><code> &lt;your directory&gt;
  + atom
  + git
  + meld
  ...</code></pre></li>
<li>When you run Atom from Atom.exe it&#39;ll have Meld and Git integrated.</li>
<li>ConEmu-BASH.exe launcher, will give you a BASH shell with meld.</li>
</ol>
<p>For python and GCC you have to add the relevant directories at the same level :</p>
<pre><code>    &lt;your directory&gt;
     + python
     + TDM-GCC-32</code></pre><p><em>Addon packs for this are coming.</em></p>
<h3 id="updating-the-atom-core-without-a-rebuild">Updating the Atom core without a rebuild</h3>
<p>A lot of plugins will update without a problem though the editor itself, although some do require Git to be installed to do so, and others will break the MAX_PATH(<em>260</em>) limit if you try and delete or copy your installation.</p>
<p>The Atom core can be upgraded manually, to do so extract the Atom Windows ZIP release files (<a href="https://github.com/atom/atom/releases">https://github.com/atom/atom/releases</a>) into the &quot;App\Atom&quot; directory.</p>
<h3 id="caveats-and-issues">Caveats and Issues</h3>
<p>Even though this package works well you should be aware of the following issues :</p>
<ul>
<li>Performance (specially on startup)  </li>
</ul>
<p><em>The <a href="http://portableapps.com">PortableApps</a> launcher syncs and removes some files in your Windows HOME and APPDATA directories. If you are running this from a USB drive or a slower drive it can be a bit slow to start (and shutdown), due to this and the fact that Atom is IO intensive.</em></p>
<ul>
<li>Size - Total size of Atom with add-ons over 500Mb  </li>
</ul>
<p><em>We can argue that it&#39;s an IDE, but it still seems kinda big</em></p>
<ul>
<li>Temp files - Atom and it&#39;s addons can be temp file happy.  </li>
</ul>
<p><em>The launcher tries to address this wiping it&#39;s files on exit.</em></p>
<ul>
<li>Non-Windows addons<br>Some addons won&#39;t work or will exhibit strange behavior under Windows, I would suggest raising issues on the addon&#39;s tracker when this happens and hoping the issues get resolved.  </li>
</ul>
<p><strong>All the bundled addons have been tested under Windows</strong></p>
<p>Despite all this Atom still rocks <img class="icon" title=":stuck_out_tongue_winking_eye:" alt="stuck_out_tongue_winking_eye" src="http://www.emoji-cheat-sheet.com/graphics/emojis/stuck_out_tongue_winking_eye.png" height="20"></p>
<p>Anyway, enjoy <img class="icon" title=":feelsgood:" alt="feelsgood" src="http://www.emoji-cheat-sheet.com/graphics/emojis/feelsgood.png" height="20"></p>
<p><img class="icon" title=":copyright:" alt="copyright" src="http://www.emoji-cheat-sheet.com/graphics/emojis/copyright.png" height="20"> John de Murga 2016</p>
</article>
</body>
</html>
