<h2 id="atom-portable-for-windows">Atom Portable for Windows</h2>
<h3 id="intro">Intro</h3>
<p>Atom is great <img class='emoji' title=':heart_eyes:' alt='heart_eyes' src='http://www.emoji-cheat-sheet.com/graphics/emojis/heart_eyes.png' height='20'>, unfortunately it has always had issues under Windows. The most obvious is the classic long paths issues that come with NPM (<em>npm 3.0 will be better</em> <img class='emoji' title=':clap:' alt='clap' src='http://www.emoji-cheat-sheet.com/graphics/emojis/clap.png' height='20'>). Another issue is that it needs a Git installation for many many of the packages to install. And finally ... Even though it&#39;s got a lot better (<em>when ATOM_HOME was fixed</em>), it is not very portable in the full sense of the word (%APPDATA% traces, etc).</p>
<p>Do use Atom on many machines (some even Windows), and I wanted something more reliable than batch files and/or NTFS junction points.</p>
<h3 id="how-it-works">How it works</h3>
<ul>
<li>Firstly I created a fairly basic launcher using the <a href="http://portableapps.com">PortableApps</a> launcher creator. Their launcher itself is well tested and deals with relocating the Atom profile as cleanly as possible (<em>but does not like long filenames</em>).</li>
<li>Then I tweaked the settings for a portable setup, and came up with a &quot;template setup.&quot;</li>
<li>Finally I added useful plugins along with basic tweaks and a way to flatten them so that they won&#39;t break the ancient MAX_PATH(<em>260</em>) limit.</li>
</ul>
<p>This package is created with the associated <a href="https://github.com/JohnMurga/atom-portable">Atom-Portable</a> project on GitHub, you can also find the latest binaries there.</p>
<h3 id="git-python-meld-etc">GIT / Python / Meld / ETC</h3>
<p>Atom expects you to have Git installed and in your path. So this launcher supports running a portable install of Git alongside Atom.</p>
<p>It is not bundled it as many will already have it or may not use it.</p>
<p>To add it to the portable package follow these instructions :</p>
<ol>
<li>Create a new directory with the following structure :<pre><code> &lt;new directory&gt;
  + atom
  + git
</code></pre></li>
<li><p>Extract the latest PortableGit files into &quot;git&quot;<br><em>(Download from : <a href="https://github.com/git-for-windows/git/releases">https://github.com/git-for-windows/git/releases</a>)</em></p>
</li>
<li><p>Install my portable package to &quot;atom&quot;.</p>
</li>
<li><p>Run Atom from &quot;atom\Atom.Portable.exe&quot;</p>
</li>
</ol>
<p>For Python and Meld its easiest to download  :<br><a href="http://sourceforge.net/projects/meld-installer/files/meld-1.8.6.0.zip/download">http://sourceforge.net/projects/meld-installer/files/meld-1.8.6.0.zip/download</a></p>
<p>And extract in same way as before so that you have :</p>
<pre><code>    &lt;new directory&gt;
     + atom
     + meld
     + python
</code></pre><h3 id="updating-the-atom-core-without-a-rebuild">Updating the Atom core without a rebuild</h3>
<p>A lot of plugins will update without a problem though the editor itself, although some do require Git to be installed to do so, and others will break the MAX_PATH(<em>260</em>) limit if you try and delete or copy your installation.</p>
<p>The Atom core can be upgraded manually, to do so just extract to Atom Windows ZIP release files (<a href="https://github.com/atom/atom/releases">https://github.com/atom/atom/releases</a>) into the &quot;App\Atom&quot; directory.</p>
<h3 id="caveats-and-issues">Caveats and Issues</h3>
<p>Even though this package works well you should be aware of the following issues :</p>
<ul>
<li><p>Performance (specially on startup)<br><em>The <a href="http://portableapps.com">PortableApps</a> syncs and removes the Atom profile in your Windows HOME and APPDATA directories. If the launcher resides on the same drive then it&#39;s very fast (files are moved). However, if you are running this from a USB drive or a slower drive it can be a bit slow to start (and shutdown).</em></p>
</li>
<li><p>Size - Total size of Atom with add-ons almost 500Mb<br><em>We can argue that it&#39;s an IDE, but it still seems kinda big</em></p>
</li>
<li><p>Temp files - Atom and it&#39;s addons can be temp file happy.<br><em>The launcher tries to address this wiping it&#39;s files on exit.</em></p>
</li>
<li><p>Non-Windows addons<br>Some addons won&#39;t work or will exhibit strange behavior under Windows, I would suggest raising issues on the addon&#39;s tracker when this happens and hoping the issues get resolved.<br><strong>All the bundled addons are tested under windows</strong></p>
</li>
</ul>
<p>Despite all this Atom rocks <img class='emoji' title=':stuck_out_tongue_winking_eye:' alt='stuck_out_tongue_winking_eye' src='http://www.emoji-cheat-sheet.com/graphics/emojis/stuck_out_tongue_winking_eye.png' height='20'></p>
<p>Anyway, enjoy <img class='emoji' title=':feelsgood:' alt='feelsgood' src='http://www.emoji-cheat-sheet.com/graphics/emojis/feelsgood.png' height='20'></p>
<p><img class='emoji' title=':copyright:' alt='copyright' src='http://www.emoji-cheat-sheet.com/graphics/emojis/copyright.png' height='20'> John de Murga 2015</p>
