{
    "extends": [
        "eslint:recommended",
        "idiomatic"
    ],
    "rules": {
        /** "quotes": [2, "double"], **/
        "quotes": [0],
        "max-len": [2, 120],
        "indent": [2, 4],
        "vars-on-top": [0],
        "func-names": [0],
        "one-var": [0],
        /** Prettier stuff **/
        "array-bracket-spacing": [0],
        "space-in-parens": [0],
        "computed-property-spacing": [0],
        "one-var-declaration-per-line": [0],
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
    },
    "ecmaFeatures": {
        "modules": true,
    },
    "parserOptions": {
        "sourceType": "module",
    }
}
