atom-workspace {
    text-rendering: optimizeLegibility;
}

atom-text-editor {
    text-rendering: optimizeSpeed;
}

atom-text-editor::shadow  {
    .selection .region {
        background: rgba(180, 240, 240, 0.2);
    }
    .bracket-matcher {
        opacity: 0.5;
        background-color: #ff2244;
    }
}

atom-text-editor::shadow, .tree-view-resizer {
    ::-webkit-scrollbar {
        width: 10px !important;
        height: 10px !important;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 5px !important;;
        background-color: rgba(255,255,255,.1) !important;;

        &:hover {
            background: rgba(255,255,255,.3) !important;;
        }
    }
}

.tab-bar {
    .tab {
        &.modified {
            -webkit-text-stroke: 0.8px rgba(255, 0, 0, 0.5);
        }
        &.pending-tab {
            -webkit-text-stroke: 0.8px rgba(0, 128, 0, 0.5);
        }
    }
}

// Stop the cursor from blinking
atom-text-editor::shadow .cursors .cursor {
    background-color: rgba(150,250,150, 0.2);
    opacity: 0.3;
    //border-left-width: 1px;
    //outline: rgba(128,256,128,0.6) double 3px;
}

// Highlights the cursor line and column
atom-text-editor::shadow {
  .cursor-line {
    background-color: rgba(128, 128, 128, 0.06) !important;
  }
  .highlight-column {
    background-color: rgb(128, 128, 128) !important;
  }
}

atom-text-editor::shadow .gutter .foldable .icon-right {
    color: rgb(255,255, 255);
}

// Makes labels on autocomplete more readable
// https://github.com/atom/autocomplete-plus/blob/master/styles/autocomplete.less
autocomplete-suggestion-list.select-list.popover-list {
    ol.list-group {
      li {
        &.selected {
          .left-label, .right-label, .snippet-completion {
            color: saturate(@text-color-selected, 50%);
          }
        }
      }
    }
}

// Makes Clipboard plus usable
atom-panel.clipboard-plus {
  .select-list ol.list-group {
    li {
      pre {
        color: inherit;
        .character-match {
          color: @text-color-error;
          font-weight: bold;
        }
      }
    }
  }
}

.ft-item {
  font-size: 14px;
  line-height: 1;
}
.ft-item-content {
  line-height: 1;
}
